body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e8f0;

}

.carousel {
  height: 100%;
  width: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 0 16px 16px 0;
}

.signup-form #login {
  border-radius: 16px 0 0 16px;
}

.background {
  height: inherit;
  width: 100%;
  display: flex;
  transition: transform 0.7s ease-in-out;
  border-radius: 0 16px 16px 0;
}

.background .image-container {
  height: 100%;
  min-width: 100%;
  box-sizing: border-box;
  border-radius: 0 16px 16px 0;
}

.background .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: optimizeQuality;
  border-radius: 0 16px 16px 0;
  transition: all 1.5s ease-in-out;
}

.background .image-container img:hover {
  transform: scale(1.1);
}

/* CSS code for sign-up page */
.signup-form {
  height: 80%;
  width: 60%;
  display: flex;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.21);
}

.signup {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form .signup h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #020617;
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: italic;
}

.signup-form .signup p {
  font-family: "Pacifico", serif;
  font-weight: 200;
  font-style: italic;
  margin-right: 10px;
}

.signup-form .signup p a {
  text-decoration: none;
  color: #1d4ed8;
}

.signup-form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px 0 0 16px;
}

input {
  width: 60%;
  height: 40px;
  border: 2px solid #d1d5db;
  border-radius: 7px;
  outline: none;
  transition: all 0.3s ease-in-out;
  background: transparent;
  color: #6b7280;
}

input::placeholder {
  color: #6b7280;
  font-size: small;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: normal;
}

input:focus {
  border: 2px solid #60a5fa;
  color: #6b7280;
  padding-left: 5px;
}

.signup .signup-button {
  width: 60%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 5px;
  font-family: "Pacifico", serif;
  font-weight: 100;
  font-style: normal;
}

.signup .signup-button:hover {
  background-color: #0056b3;
  transition: all 0.3s ease;
}

.carousel .login {
  border-radius: 16px 0 0 16px;
}


@media screen and (max-width: 1024px) and (max-height: 1368px){
  body {
    background-image: url('./assests/photos/pexels-mikhail-nilov-7820360.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .signup-form {
    width: 80%;
  }

  .carousel {
    display: none;
  }

  .signup {
    width: 100%;
    border-radius: 16px 16px 16px 16px;
    background: rgba(243, 244, 246, 0.12);
    border-radius: 16px 0 16px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.21);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .signup form {
    border-radius: 16px 16px 16px 16px;
  }

  .signup .signup-button {
    width: 80%;
  }
  
  input {
    width: 80%;
    color: #0f172a;
    border: 1px solid #9ca3af;
  }

  input:focus {
    color: #0f172a;
  }

  input::placeholder {
    color: #0f172a;
  }

  .signup-form .signup p {
    color: #f3f4f6;
  }
}

/* @view-transition {
  navigation: auto;
}

::view-transition-group(*) {
  animation-duration: .33s;
}

::view-transition-old(root) {
  animation: .33s ease-in both enter;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(*) {
    animation-duration: 0s;
  }
} */